In [7]:
#thay doi gia tri trong bang
import pandas as pd
def convert_people_cell(cell):
    if cell=='n.a.':
        return 'sam walton'
    return cell
def convert_eps_cell(cell):
    if cell=='not available':
        return None
    return cell
df=pd.read_excel("C:\\Users\\buidu\\OneDrive\\Máy tính\\code2\\PYthon_only\\pandas\\data\\stock_data.xlsx","Sheet1",converters={
    'people':convert_people_cell,
    'eps':convert_eps_cell
})
df

  tickers    eps  revenue price         people
0   GOOGL  27.82       87   845     larry page
1     WMT   4.61      484    65     sam walton
2    MSFT  -1.00       85    64     bill gates
3    RIL     NaN       50  1023  mukesh ambani
4    TATA   5.60       -1  n.a.     ratan tata

In [13]:
#tao file excel moi bat dau tu hang 1 cot 2
df.to_excel('C:\\Users\\buidu\\OneDrive\\Máy tính\\code2\\PYthon_only\\pandas\\data\\new.xlsx',sheet_name="stocks",startrow=1,startcol=2,index=False)

In [21]:
#tao datafame cho excel gom 2 sheet khac nhau
import pandas as dp
covid=dp.DataFrame(
{
    'iso_code':['AFG','AND','BHS'],
    'continent':['Asia','North America','Europe'],
    'location':['Afghanistan','Angola','Africa'],
})
case=dp.DataFrame(
{
    'total_cases':['1','2','3'],
    'new_cases':['2','3','4'],
    'total_deaths':['1','2','3'],
})
with pd.ExcelWriter("C:\\Users\\buidu\\OneDrive\\Máy tính\\code2\\PYthon_only\\pandas\\data\\new.xlsx") as writer:
    covid.to_excel(writer,sheet_name='covidV')
    case.to_excel(writer,sheet_name='caseV')

: