In [4]:
import pandas as pd
vn_wth=pd.DataFrame({
    'city':['hanoi','haiphong','tphcm'],
    'temperature':[32,45,30],
    'humidity':[80,60,79]
})
vn_wth

       city  temperature  humidity
0     hanoi           32        80
1  haiphong           45        60
2     tphcm           30        79

In [5]:
us_wth=pd.DataFrame({
    'city':['newyork','chicago','cam'],
    'temperature':[21,15,20],
    'humidity':[60,65,79]
})
us_wth

      city  temperature  humidity
0  newyork           21        60
1  chicago           15        65
2      cam           20        79

In [8]:
#gop 2 dataframe vao 1 table
df=pd.concat([vn_wth,us_wth],ignore_index=True)
df

       city  temperature  humidity
0     hanoi           32        80
1  haiphong           45        60
2     tphcm           30        79
3   newyork           21        60
4   chicago           15        65
5       cam           20        79

In [10]:
df=pd.concat([vn_wth,us_wth],keys=['vietnam','us'])
df

               city  temperature  humidity
vietnam 0     hanoi           32        80
        1  haiphong           45        60
        2     tphcm           30        79
us      0   newyork           21        60
        1   chicago           15        65
        2       cam           20        79

In [13]:
#goi dataframe cu the
df.loc['vietnam']

       city  temperature  humidity
0     hanoi           32        80
1  haiphong           45        60
2     tphcm           30        79

In [25]:
temperture_dataframe=pd.DataFrame({
    'city':['danang','kiengiang','vungtau'],
    'temperature':[52,25,30],
    
},index=[0,1,2])
temperture_dataframe

        city  temperature
0     danang           52
1  kiengiang           25
2    vungtau           30

In [26]:
winspeed_df=pd.DataFrame({
    'city':['danang','kiengiang'],
    'winspeed':[6,8],
    
},index=[0,1])
winspeed_df

        city  winspeed
0     danang         6
1  kiengiang         8

In [27]:
#dung axis de gom 2 dataframe co cung du lieu vao 1 table
#de xet gia tri khac nhau can dung index de gan cho moi gia tri
df=pd.concat([temperture_dataframe,winspeed_df],axis=1)
df

        city  temperature       city  winspeed
0     danang           52     danang       6.0
1  kiengiang           25  kiengiang       8.0
2    vungtau           30        NaN       NaN

In [28]:
temperture_dataframe

        city  temperature
0     danang           52
1  kiengiang           25
2    vungtau           30

In [29]:
s=pd.Series(['Rain','Dry',"Humid"],name='event')
s

0     Rain
1      Dry
2    Humid
Name: event, dtype: object

In [32]:
df=pd.concat([temperture_dataframe,s],axis=1)
df

        city  temperature  event
0     danang           52   Rain
1  kiengiang           25    Dry
2    vungtau           30  Humid