In [4]:
import pandas as pd
df=pd.read_csv('C:\\Users\\buidu\\OneDrive\\Máy tính\\code2\\PYthon_only\\pandas\\data\\weather_data.csv') #in het data
df

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
3   1/6/2017          NaN        7.0     NaN
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
6   1/9/2017          NaN        NaN     NaN
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [5]:
df.shape#dem so hang so cot

(9, 4)

In [6]:
df.head() #in mot vai dong data

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/4/2017          NaN        9.0  Sunny
2  1/5/2017         28.0        NaN   Snow
3  1/6/2017          NaN        7.0    NaN
4  1/7/2017         32.0        NaN   Rain

In [7]:
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/4/2017          NaN        9.0  Sunny

In [8]:
df[2:5] #in dong thu 2 den 4

        day  temperature  windspeed event
2  1/5/2017         28.0        NaN  Snow
3  1/6/2017          NaN        7.0   NaN
4  1/7/2017         32.0        NaN  Rain

In [9]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [10]:
df.day
df['event']

0      Rain
1     Sunny
2      Snow
3       NaN
4      Rain
5     Sunny
6       NaN
7    Cloudy
8     Sunny
Name: event, dtype: object

In [11]:
type(df['event'])

pandas.core.series.Series

In [12]:
df[['event','day']]

    event        day
0    Rain   1/1/2017
1   Sunny   1/4/2017
2    Snow   1/5/2017
3     NaN   1/6/2017
4    Rain   1/7/2017
5   Sunny   1/8/2017
6     NaN   1/9/2017
7  Cloudy  1/10/2017
8   Sunny  1/11/2017

In [13]:
df['temperature'].max()#lay nhiet do toi da

40.0

In [14]:
df.describe()#thong ke toan bo data

       temperature  windspeed
count      5.00000   5.000000
mean      33.20000   8.400000
std        4.38178   2.302173
min       28.00000   6.000000
25%       32.00000   7.000000
50%       32.00000   8.000000
75%       34.00000   9.000000
max       40.00000  12.000000

In [15]:
df[df.temperature>=32]

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
4   1/7/2017         32.0        NaN    Rain
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [16]:
df[df.temperature==df['temperature'].max()]

         day  temperature  windspeed  event
8  1/11/2017         40.0       12.0  Sunny

In [17]:
df.index

RangeIndex(start=0, stop=9, step=1)

In [18]:
df.set_index('day',inplace=True) #dat gia tri index

In [19]:
df

           temperature  windspeed   event
day
1/1/2017          32.0        6.0    Rain
1/4/2017           NaN        9.0   Sunny
1/5/2017          28.0        NaN    Snow
1/6/2017           NaN        7.0     NaN
1/7/2017          32.0        NaN    Rain
1/8/2017           NaN        NaN   Sunny
1/9/2017           NaN        NaN     NaN
1/10/2017         34.0        8.0  Cloudy
1/11/2017         40.0       12.0   Sunny

In [20]:
df.loc['1/3/2017']

KeyError: '1/3/2017'

In [ ]:
#reset lai index
df.reset_index(inplace=True)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
df.set_index('event',inplace=True)
df

NameError: name 'df' is not defined

In [ ]:
df.loc['Snow']

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7