In [1]:
import pyspark

In [2]:
import pandas as pd

df=pd.read_csv(r'C:\Users\Asus\Desktop\MyCode\code\code\PYthon_only\ETL\data\test1.csv')
df

        Name  age  Experience  Salary
0      Krish   31          10   30000
1  Sudhanshu   30           8   25000
2      Sunny   29           4   20000
3       Paul   24           3   20000
4     Harsha   21           1   15000
5    Shubham   23           2   18000

In [4]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName('Pratice').getOrCreate()

In [7]:
spark

In [9]:
df_pyspark=spark.read.csv(r'C:\Users\Asus\Desktop\MyCode\code\code\PYthon_only\ETL\data\test1.csv')

In [10]:
df_pyspark.show()

+---------+---+----------+------+
|      _c0|_c1|       _c2|   _c3|
+---------+---+----------+------+
|     Name|age|Experience|Salary|
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [11]:
spark.read.option('header','true').csv(r'C:\Users\Asus\Desktop\MyCode\code\code\PYthon_only\ETL\data\test1.csv')

DataFrame[Name: string, age: string, Experience: string, Salary: string]

In [12]:
df_pyspark=spark.read.option('header','true').csv(r'C:\Users\Asus\Desktop\MyCode\code\code\PYthon_only\ETL\data\test1.csv')

In [13]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [14]:
df_pyspark.head()

Row(Name='Krish', age='31', Experience='10', Salary='30000')

In [15]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [5]:
export PYSPARK_SUBMIT_ARGS="--master local[2] pyspark-shell"

SyntaxError: invalid syntax (1011175925.py, line 1)