In [1]:
#handing missing values
#drop column
#drop rows
#various parameter

In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Practice").getOrCreate()

In [30]:
df=spark.read.csv(r'C:\Users\Asus\Desktop\MyCode\code\code\PYthon_only\ETL\data\test2.csv',header=True,inferSchema=True)

In [4]:
df.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
|     NULL|  36|      NULL|  NULL|
+---------+----+----------+------+

In [5]:
#drop column
df.drop('Name').show()

+----+----------+------+
| age|Experience|Salary|
+----+----------+------+
|  31|        10| 30000|
|  30|         8| 25000|
|  29|         4| 20000|
|  24|         3| 20000|
|  21|         1| 15000|
|  23|         2| 18000|
|NULL|      NULL| 40000|
|  34|        10| 38000|
|  36|      NULL|  NULL|
+----+----------+------+

In [6]:
df.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
|     NULL|  36|      NULL|  NULL|
+---------+----+----------+------+

In [7]:
#drop colums
df.na.drop().show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [8]:
# any==how: xoa dong if no chua bat ki gia tri null nao,
#all: xoa dong neu tat ca gia tri cua no null
df.na.drop(how="all").show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
|     NULL|  36|      NULL|  NULL|
+---------+----+----------+------+

In [9]:
df.na.drop(how="any").show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [10]:
#threshold:chua it nhat 2 gia tri ko null tro len thi giu lai
df.na.drop(how='any',thresh=2).show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
+---------+----+----------+------+

In [11]:
#subset
df.na.drop(how='any',subset=['Experience']).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|     NULL| 34|        10| 38000|
+---------+---+----------+------+

In [12]:
#fill missing values
df.na.fill('Missing values').show()

+--------------+----+----------+------+
|          Name| age|Experience|Salary|
+--------------+----+----------+------+
|         Krish|  31|        10| 30000|
|     Sudhanshu|  30|         8| 25000|
|         Sunny|  29|         4| 20000|
|          Paul|  24|         3| 20000|
|        Harsha|  21|         1| 15000|
|       Shubham|  23|         2| 18000|
|        Mahesh|NULL|      NULL| 40000|
|Missing values|  34|        10| 38000|
|Missing values|  36|      NULL|  NULL|
+--------------+----+----------+------+

In [13]:
df

DataFrame[Name: string, age: int, Experience: int, Salary: int]

In [16]:
from pyspark.sql.types import StringType

df = df.withColumn('age', df['age'].cast(StringType()))

In [17]:
df

DataFrame[Name: string, age: string, Experience: int, Salary: int]

In [18]:
df=df.withColumn('Experience',df['Experience'].cast(StringType()))

In [19]:
df=df.withColumn('Salary',df['Salary'].cast(StringType()))

In [20]:
df

DataFrame[Name: string, age: string, Experience: string, Salary: string]

In [21]:
df.na.fill('Missing values').show()
#phai chuyen sang dang string moi gan duoc

+--------------+--------------+--------------+--------------+
|          Name|           age|    Experience|        Salary|
+--------------+--------------+--------------+--------------+
|         Krish|            31|            10|         30000|
|     Sudhanshu|            30|             8|         25000|
|         Sunny|            29|             4|         20000|
|          Paul|            24|             3|         20000|
|        Harsha|            21|             1|         15000|
|       Shubham|            23|             2|         18000|
|        Mahesh|Missing values|Missing values|         40000|
|Missing values|            34|            10|         38000|
|Missing values|            36|Missing values|Missing values|
+--------------+--------------+--------------+--------------+

In [25]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['age', 'Experience', 'Salary'],
    outputCols=["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']]
).setStrategy('mean')

In [31]:
from pyspark.sql.types import IntType

df = df.withColumn('age', df['age'].cast(IntType()))

ImportError: cannot import name 'IntType' from 'pyspark.sql.types' (c:\Users\Asus\anaconda3\Lib\site-packages\pyspark\sql\types.py)

In [26]:
#chuyen age ve int moi doi duoc
imputer.fit(df).transform(df).show()

IllegalArgumentException: requirement failed: Column age must be of type numeric but was actually of type string.