In [3]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
#loading dataset
df=pd.read_csv('iris.csv')
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [ ]:
df=df.drop(columns=['id'])
df.head()

In [13]:
#display stats about data
df.describe()

       sepal.width  petal.length  petal.width
count   150.000000    150.000000   150.000000
mean      3.057333      3.758000     1.199333
std       0.435866      1.765298     0.762238
min       2.000000      1.000000     0.100000
25%       2.800000      1.600000     0.300000
50%       3.000000      4.350000     1.300000
75%       3.300000      5.100000     1.800000
max       4.400000      6.900000     2.500000

In [14]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.width   150 non-null    float64
 1   petal.length  150 non-null    float64
 2   petal.width   150 non-null    float64
 3   variety       150 non-null    object
dtypes: float64(3), object(1)
memory usage: 4.8+ KB

In [ ]:
#display no. of sample on each class